@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  .progress {
    height: 50px !important;
  }

  .image {
    img {
      position: absolute;
      z-index: 1;
      height: 96vh;
    }
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    color: #fff;
    z-index: 2;
    margin-top: 20%;
  }

  .donate-form {
    position: relative;
    z-index: 2;
    margin-top: 5%;
  }
}
